<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <table border="1">
        {{ each arr}}
        <tr>
            <td>{{ $value.id }}</td>
            <td>{{ $value.name }}</td>
            <td>{{ $value.age }}</td>
            <td>{{ $value.gender }}</td>
            <td>
                <a href="/getone?id={{ $value.id }}">查看</a>
                <a href="/upuser?id={{ $value.id }}">修改</a>
                <a href="/delete?id={{ $value.id }}">删除</a>
            </td>
        </tr>
        {{ /each }}
    </table>
</body>

</html>