<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <form action="/upuser?id={{ data.id }}" method="POST">
        <table>
            <tr>
                <td>
                    <input type="text" value="{{ data.id }}" name='id' />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" value="{{ data.name }}" name='name' />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" value="{{ data.age }}" name="age" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" value="{{ data.gender }}" name="gender" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">go</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>