<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        post
        <a href="/" >首页</a>
    </header>
    <content>
        <form action="/pinglun" method="get">
            <input name="name" type="text" />
            <input name="message" type="text" />
            <button type="submit">btn</button>
        </form>
    </content>
</body>
</html>